div,
ul,
li,
a {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

@font-face {
    font-family: 'iconfont';
    src: url('icos/iconfont.woff2?t=1658739042788') format('woff2'),
         url('icos/iconfont.woff?t=1658739042788') format('woff'),
         url('icos/iconfont.ttf?t=1658739042788') format('truetype');
  }
  .iconfont {
    cursor: default;
    text-align: center;
    font-family: "iconfont" !important;
    font-size: 45px;
    font-style: normal;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .3s;
  }
  .iconfont:hover{
    font-size: 56px;
  }

li {

    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #5bb7b9;
}

.common-div {
    border-radius: 20px;
    background-color: #5bb7b9;
    box-shadow: 3px 3px 6px #4d9c9d, -3px -3px 6px #69d2d5;
    transition: all .3s;
}

.common-div:hover {
    transform: scale(1.01);
    box-shadow: 6px 6px 12px #4d9c9d, -6px -6px 12px #69d2d5;
}

.shell {
    margin: 0px auto;
    margin-top: 14px;
    width: 345px;
    height: 900px;

    /* background-color: rgba(29, 158, 158, .3); */
}

.namebox {
    margin: 0px auto;
    width: 330px;
    height: 90px;
    /* background-color: rgb(200, 250, 16); */
    text-align: center;
    line-height: 90px;
    font-size: 23px;
}

.headshell {
    /* margin的顺序不一样，结果也不一样 */
    margin: 0px auto;
    margin-top: 15px;
    width: 330px;
    height: 110px;
    /* background-color: rgba(57, 229, 45,.3); */
}

.head-img {
    float: left;
    width: 110px;
    height: 110px;
    /* background-color: rgba(22, 90, 236,.6); */
    background-image: url(imgs/headimg.png);
    background-size: cover;
}

.head-content {
    float: right;
    width: 205px;
    height: 110px;
}

.head-content-title {
    margin: 0px auto;
    width: 180px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    font-size: 14px;
    border-bottom: .3px solid #ffffff;
}

.head-content-content {
    margin: 10px auto;
    width: 150px;
    height: 80px;
    /* background-color: rgba(197, 120, 25,.3); */
}

.namebox-li {
    margin-top: 3px;
    text-align: center;
    font-size: 12px;
}

.mywork {
    margin: 0px auto;
    margin-top: 15px;
    width: 330px;
    height: 387px;
}

.mywork-title {
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    /* background-color: #8cd614; */
}

.appsshell {
    margin: 0px auto;
    width: 300px;
    height: 327px;
    /* background-color: rgba(26, 124, 210, .3); */
}

.appshell {
    float: left;
    margin-top: 9px;
    margin-left: 9px;
    width: 88px;
    height: 150px;
    /* background-color: rgba(238, 176, 187, .3); */
}

div[class^=aimg] {
    margin: 0px auto;
    margin-top: 5px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    /* background-color: rgba(118, 33, 198, .3); */
}
.appname{
    width: 100%;
    height: 30px;
    font-size: 9px;
    text-align: center;
    line-height: 30px;
    /* background-color: rgba(28, 189, 170,.3); */
}
.appdonload{
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 9px;
    text-align: center;
    line-height: 25px;

}
.webshell{
    margin: 0px auto;
    margin-top: 15px;
    width: 330px;
    height: 650px;
}
.web-title{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}
a[class^=web]{
    margin: 0px auto;
    margin-top: 9px;
    padding-left: 10px;
    display: block;
    width: 290px;
    height: 30px;
    font-size: 9px;
    line-height: 30px;
    border-radius: 5px;
    /* background-color: rgba(63, 65, 64, 0.3); */
}
.feet{
    margin: 0px auto;
    margin-top: 15px;
    width: 330px;
    height: 60px;
    border-radius:20px 20px 0px 0px ;
}

