@font-face {
  font-family: "iconfont"; /* Project id 3663751 */
  src: url('iconfont.woff2?t=1663772805643') format('woff2'),
       url('iconfont.woff?t=1663772805643') format('woff'),
       url('iconfont.ttf?t=1663772805643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jieting1:before {
  content: "\e641";
}

.icon-guaduan:before {
  content: "\e640";
}

